@model SettingsModel
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<string> Localizer

<div class="row">                       
    <div class="col-md-6 ml-auto mr-auto">
        <form class="form" asp-controller="Settings" asp-action="Edit" method="post">    
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="material-icons">face</i>
                        </span>
                    </div>
                    <input asp-for="FirstName" class="form-control" required >
                    <span class="form-control-feedback" style="top:0px;">
                        <i class="material-icons">clear</i>
                    </span>
                </div>
            <span hidden="hidden" class="text-danger"></span> 
            </div>                           
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="material-icons">face</i>
                        </span>
                    </div>
                    <input asp-for="LastName" class="form-control" required >
                    <span class="form-control-feedback" style="top:0px;">
                        <i class="material-icons">clear</i>
                    </span>
                </div>
            <span hidden="hidden" class="text-danger"></span> 
            </div>
            <div class="text-center">
                <button id="save" name="save" type="submit" class="btn btn-success btn-round">@Localizer["Save"]</button>
            </div>
        </form>
    </div>
</div>