@model BuildingAdmin.DataLayer.Models.Bill
@using System.Linq;
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<string> Localizer
    
@{    
    ViewData["Title"] = Localizer["Edit Bill"];
    Layout ="~/Views/Shared/Dashboard/_LayoutDashboard.cshtml";
    var model = new SelectFormModel(ViewBag.Services){
        Name = Localizer["Choose service"]
    };
}

<form class="form" asp-controller="BillService" asp-action="Add" method="post">
    <div class="row">
        <div class="col-md-3">        
        @await Html.PartialAsync("/Views/Shared/Partials/_Select.cshtml", model)
        </div>
        <input type="hidden" value="@Model.Id" id="billId" name ="billId" />
        <div class="col-lg-2">
            <button id="submit" name="submit" type="submit" class="btn btn-success btn-round">@Localizer["Add service to bill"]</button>
        </div>
    </div>        
</form>
<div class="row">
    <div class="col-lg-12 col-lg-12">
        <div class="card">
            <div class="card-header" data-background-color="purple">
                <h4 class="title">@Localizer["Edit Bill"]</h4>
            </div>
            
        </div>
    </div>
</div>
