@model ChangePassword
@using Microsoft.Extensions.Localization
@inject Microsoft.Extensions.Configuration.IConfiguration configuration
@inject IStringLocalizer<string> Localizer

@{
    ViewData["Title"] = Localizer["Change Password"];
    ViewBag.PageType = "signup-page";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
            <div class="card card-signup">
                <h2 class="card-title text-center">@Localizer["Change Password"]</h2>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 mr-auto">
                            <form class="form" asp-controller="Account" asp-action="ChangePassword" method="post">                               
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                        </div>
                                        <input asp-for="Password" class="form-control" required pattern="^((?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])|(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[^a-zA-Z0-9])|(?=.*?[A-Z])(?=.*?[0-9])(?=.*?[^a-zA-Z0-9])|(?=.*?[a-z])(?=.*?[0-9])(?=.*?[^a-zA-Z0-9])).{8,}$" >
                                        <span class="form-control-feedback" style="top:0px;">
                                            <i class="material-icons">clear</i>
                                        </span>
                                    </div>
                                <span asp-validation-for="Password" hidden="hidden" class="text-danger"></span> 
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                        </div>
                                        <input asp-for="ConfirmPassword" class="form-control" required >
                                        <span class="form-control-feedback" style="top:0px;">
                                            <i class="material-icons">clear</i>
                                        </span>
                                    </div>
                                <span asp-validation-for="ConfirmPassword" hidden="hidden" class="text-danger"></span> 
                                </div>
                                <div>
                                    <input type="hidden" asp-for="Token" />
                                </div>
                                <div class="form-group">
                                    <div  style="margin-left:17px" class="g-recaptcha" data-sitekey="@(configuration["ReCaptcha:SiteKey"])"></div>
                                </div>
                                <div class="text-center">
                                    <button id="submit" name="submit" type="submit" class="btn btn-success btn-round">@Localizer["Change Password"]</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>

@section Scripts {
    <script src='https://www.google.com/recaptcha/api.js'></script>
}