@using Microsoft.Extensions.Localization
@inject IStringLocalizer<string> Localizer

@{
    ViewBag.PageType = "landing-page";
    ViewData["Title"] = Localizer["Change password confirmation"];
}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="title">@Localizer["It changed"]!</h1>
                <div><h4>@Localizer["Your password has been changed succesfully"].</h4></div>
                <a href="@Url.AbsoluteAction("Login", "Account")" class="btn btn-success btn-raised btn-lg">@Localizer["Sign in"]</a>
            </div>
        </div>
    </div>
</div>
